body { 
    background: rgb(22, 78, 25); 
}

h1 {
    color: white;
    align-content: center;
}

/* definim la classe de la Caixa que contindrà el terreny de joc */
.pista {
    margin: 40px auto;
    width: 800px;
    height: 600px;
    position: relative;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}

/* definim la Pilota amb el selector b dins de la classe de la Caixa */
.pista b {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;    
    /* transform: translate(50px, 50px); */
    animation: moveX 2.85s linear 0s infinite alternate, moveY 2.05s linear 0s infinite alternate;
}

/* keyframes ens ajuda a captar la sensacio de moviment horitzontal  X  */
@keyframes moveX {
  from { left: 0; } to { left: 750px; }
  /* transform: translate(50px, 50px); */
}

/* keyframes ens ajuda a captar la sensacio de moviment vertical  Y  */
@keyframes moveY {
  from { top: 0; } to { top: 550px; }
  /* transform: translate(50px, 50px); */
}
